.tool_list_div {
    width: 100%;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    .card_div {
        width: 30%;
        height: 80px;
        background-color: #fff;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-right: 4%;
        margin-bottom: 6px;
        transition: all 0.5s;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: var(--gradient);
        &:nth-child(3n) {
            margin-right: 0;
        }
        .text_bgc_div {
            margin: 5px 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-image: linear-gradient(135deg, rgb(214, 255, 127), rgb(0, 179, 204));
            color: #fff;
            font-size: 26px;
            line-height: 50px;
            text-align: center;
        }
        &:hover {
            transition: all 0.5s;
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            box-shadow: -0.75em -0.75em 2.25em hsl(0, 0%, 100%), 0.75em 0.75em 2.25em hsl(var(--hue), 5%, 65%);
        }
        &:nth-child(5n) {
            .text_bgc_div {
                background-image: linear-gradient(135deg, rgb(226, 51, 255), rgb(255, 107, 0));
            }
        }
        &:nth-child(4n) {
            .text_bgc_div {
                background-image: linear-gradient(135deg, rgb(47, 128, 237), rgb(178, 255, 218));
            }
        }
        &:nth-child(3n) {
            .text_bgc_div {
                background-image: linear-gradient(135deg, rgb(203, 94, 238), rgb(75, 225, 236));
            }
        }
        // &:nth-child(2n) {
        //     .text_bgc_div {
        //         background-image: linear-gradient(135deg, rgb(115, 125, 254), rgb(255, 202, 201));
        //     }
        // }
    }
}