.all_div {
    width: 100vw;
    height: 100vh;
    background-color: #22272b;
    overflow: hidden;
    -webkit-app-region: no-drag;
    position: relative;
    z-index: 100;
}

$color-666: #666666;
$fontFamily-zhengyuan: ZhenyanGBRegular,
ZhenyanGB Regular-Regular; //字体
$boderColor: #d9d9d9;
$btnColor: #4673ff;
$fontFamily-yahei: Microsoft YaHei Bold,
Microsoft YaHei Bold-Bold; // 微软雅黑
$bacColor: #648aff;
$color-nochoose: #fbf9fa;
$color-fff: #ffffff;
$listBacColor: #f7f7f7;
$color-333: #333333;
$color-999: #999999;
$color-ccc: #cccccc;
$userheadBac: #b0c3fb; //头像的背景
$quitColor: #3365ff; //退出按钮
$BusListColor: #fe7066; //业务类别标题颜色
$BusListline: #f3f5fb; //业务类别列表线颜色
$color-e6: #e6e6e6;
$color-FF7: #ff7d09;
$bac-f4: #f4f6fa;
$bacline: #00cfe8;
$color-737: #737cf4;
$color-EFF: #eff1f7;
$backgroundImportantColor: #f0f2f5;
$color-EFF1F7: #eff1f7;
$color-e9eaef: #e9eaef;
$color-red: red;
$color-green: #07b137;
$color-qianzi: #f9fafd;
$color-gray: #bfbfbf;
$color-555: #ff5555;
$color-0E9: #00c0e9;
$color-0F8: #00cfe8;
$color-C5D: #c5cad8;
$color-F28: #f0f2f8;
$color-17C: #17cc75;
$color-FAF: #fafafa;
$color-FC: #fcfcfc;
$color-e2: #e2e9ff;
$color-467: #4673ff;
$color-ec2: #ec25bb;
$color-bgcOpa: rgba(255, 255, 255, 0.85);
$color-custom-btn: rgba(0, 0, 0, 0.65);
$color-e5: #e5e5e5;
$color-fc4953: #fc4953;
$color-2eca4a: #2eca4a;
$color-19: #1964c7;
$color-6e3: #6646e3;
$color-b30: #080b30;
$color-fe2: #fe2f2f;