.drawer_div {
     :global {
        .ant-drawer-title {
            color: #fff;
        }
        .ant-drawer-header {
            border-color: #505153;
        }
        .ant-drawer-close {
            color: #fff;
        }
    }
    .git_result_div {
        background: url('../../../../../../../../../assets/dynamic_bgc.png') repeat;
        width: 100%;
        transition: all .5s;
        height: 100%;
        opacity: 1;
        padding: 12px;
        .result_title_div {
            color: #fff;
            font-size: 18px;
            height: 28px;
            &::after {
                content: ":";
                position: relative;
                top: -0.5px;
                margin: 0 8px 0 2px;
            }
        }
        .result_body_div {
            overflow-x: hidden;
            overflow-y: auto;
            height: 95%;
        }
    }
}