.left_preview_div {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .left_top_div {
        position: absolute;
        left: 0px;
        top: 0px;
        right: unset;
        bottom: unset;
        background: transparent;
        height: 30px;
        width: 30px;
        cursor: pointer;
        border: 2px solid var(--text-theme);
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: unset;
        border-top-right-radius: unset;
        border-top-left-radius: unset;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }
    .right_top_div {
        position: absolute;
        left: unset;
        top: 0px;
        right: 0px;
        bottom: unset;
        background: transparent;
        height: 30px;
        width: 30px;
        cursor: pointer;
        border: 2px solid var(--text-theme);
        border-bottom-right-radius: unset;
        border-bottom-left-radius: 30px;
        border-top-right-radius: unset;
        border-top-left-radius: unset;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }
    .left_bottom_div {
        position: absolute;
        left: 0px;
        top: unset;
        right: unset;
        bottom: 0px;
        background: transparent;
        height: 30px;
        width: 30px;
        cursor: pointer;
        border: 2px solid var(--text-theme);
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
        border-top-right-radius: 30px;
        border-top-left-radius: unset;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }
    .right_bottom_div {
        position: absolute;
        left: unset;
        top: unset;
        right: 0px;
        bottom: 0px;
        background: transparent;
        height: 30px;
        width: 30px;
        cursor: pointer;
        border: 2px solid var(--text-theme);
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
        border-top-right-radius: unset;
        border-top-left-radius: 30px;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }
    .btn_active {
        background: rgb(255, 255, 0);
    }
    .prereview_div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 150px;
        height: 150px;
        border-radius: 30px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
        background: #f5f5f5;
        box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
    }
}

.mimesis_div {
    width: 100%;
    height: 550px;
    padding: 24px;
}

.right_options_div {
    width: 100%;
    height: 100%;
    padding-left: 24px;
    .right_body_div {
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        border-radius: 30px;
        width: 100%;
        height: 100%;
        box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
        .input_div {
            height: 40px;
            line-height: 40px;
            display: flex;
            .title_span {
                margin-right: 10px;
                user-select: none;
                font-weight: 700;
                color: #001f3f;
                min-width: 50px;
                &::after {
                    content: ":";
                    position: relative;
                    top: -0.5px;
                    margin: 0 8px 0 2px;
                }
            }
            .body_select_div {
                flex: 1;
                user-select: none;
                font-weight: 700;
                color: #001f3f;
                position: relative;
                display: flex;
                align-items: center;
                .copy_icon_div {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                    z-index: 1000;
                    cursor: pointer;
                }
                pre {
                    max-width: 363px;
                }
                .color_span {
                    margin: 0 12px;
                }
                .slider_div {
                    flex: 1;
                }
                .shape_div {
                    flex: 1;
                    height: 100%;
                    display: flex;
                    .init_card {
                        flex-grow: 1;
                        padding: 0 10px;
                        background: #001f3f;
                        color: #f6f5f7;
                        cursor: pointer;
                        outline: 0;
                        border: none;
                        opacity: .8;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            stroke: #f6f5f7;
                            width: 45px;
                        }
                        transition: all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s;
                        -ms-transition: all .5s;
                        -o-transition: all .5s;
                    }
                    .selete_card {
                        opacity: 1;
                        svg {
                            stroke: #ffffff;
                            width: 45px;
                        }
                    }
                }
            }
        }
    }
}