.terminal_body_div {
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
}

.terminal_project_div {
    width: 100%;
    height: 60px;
    padding-left: 2px;
    overflow: hidden;
    overflow-y: auto;
    .terminal_project_error_div {
        width: 100%;
        height: 60px;
        line-height: 60px;
        color: rgb(197, 15, 31);
        font-size: 18px;
        text-align: center;
    }
    .icon_cus {
        cursor: pointer;
        margin-top: 3px;
    }
}